#reports > ul {
    list-style: none;
    align-items: center;
    text-align: center;
    /* background-color: white; */
    padding: 3px;
}


#reports > ul > li {
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    /* width: 150px; */
    font-size: x-large;
    background-color: white;
    padding: 7px;
    display: inline-block;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}

#reports > ul > li:hover{
    background-color: cornsilk;
    cursor: pointer;
}

.transfer-day:hover{
    color: blue !important;
    /* font-size: xx-large !important; */
}


.selected-item{
    background-color: #0ccaf0;
}

.ui-menu-item-wrapper{
    text-align: right;
    direction: rtl;
}

.mr-32 {
    margin-right: 32px;
}
